@import "../../assets/scss/abstracts/mixins";

.home {
    &__container-projects {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5rem;
        margin-bottom: 5rem;
    }

    &__container-projects-button {
        margin-bottom: 5rem;
    }

    &__container-about-preview {
        margin-bottom: 5rem;
    }

    &__about-preview-content {
        width: 60%;
        font-family: 'Fuzzy Bubbles', cursive;
        margin: 0 auto 5rem auto;

        @include respond("lg") {
            width: 80%;
        }

        @include respond("md") {
            width: 90%;
        }
    }

    &__about-preview-btn {}


}